# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
# DATABASE_URL="postgresql://postgres:password@localhost:5432/cardvault"

POSTGRES_DATABASE="exampledb"
POSTGRES_HOST="example.region.provider.url"
POSTGRES_PASSWORD="abcdefg"
POSTGRES_PRISMA_URL="postgres://aurl.prisma"
POSTGRES_URL="postgres://aurl.com"
POSTGRES_URL_NON_POOLING="postgres://aurl.com/some-non-pooling-stuff"
POSTGRES_URL_NO_SSL="postgres://aurl.com/no-ssl-stuff"
POSTGRES_USER="username"
